.RotatingCard {
    min-width: 20em;
    min-height: 12em;
    max-width: 20em;
    text-align: center;
    border-radius: 1em;
    border: brown 2px solid;
    background-color:rgb(228, 134, 50);
    margin: 0px;
    padding: 0px;
}

.FocusedCard {
    max-width: 30em;
    width: 30em;
}

.RotatingCard .Caption {
    font-weight: bold;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.BottomCaption {
    bottom: 0;
}

.RotatingCard img {
    width: 100%;
    border-radius: 1em;
    opacity: 0.8;
}

.container {
    width: 100%;
    height: 200px;
    position: relative;
    margin: 0px;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content-box {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
